body{
  padding-top: 65px;
  font-family: 'nanumsquare';
}
a{
  color: inherit;
  text-decoration: none;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.head_bar{
  display: flex;
  width: 100%;
  background-color: #1f1f1f;
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 20px;
}
.react{
  margin-bottom: 3px;
  width: 40px;
}
.text:hover{
  cursor: pointer;
  color: rgb(207, 207, 207)
}
#검색창{
  width: 550px;
  height: 25px;
  background-color: rgb(231, 231, 231);
  border: rgba(0, 0, 0, 0);
  border-radius: 3px;
  margin-left: 330px;
}
.login{
  margin-left: 260px;
  border: 2px solid rgb(151, 151, 151);
  border-radius: 4px;
  padding: 3px;
  font-size: 15px;
}
.login:hover{
  color: rgb(139, 139, 139);
  cursor: pointer;
}
.sign_up{
  margin-left: 5px;
  border: 2px solid rgb(151, 151, 151);
  border-radius: 4px;
  padding: 3px;
  font-size: 15px;
}
.sign_up:hover{
  color: rgb(116, 116, 116);
  cursor: pointer;
}
.list{
  text-align: left;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.mainpage_name{
  width: 90px;
  color: #444444e5;
}
.mainpage_name:hover{
  cursor: pointer;
  color: #020202;
}
.tran{
  transition: all,0.5s;
}
.tran:hover{
  padding-left: 15px;
  font-size: 23px;
}
.class_1-3{
  transition: all,0.5s;
}
.class_1-3:hover{
  font-size: 18px;
  cursor: default;
}

.따봉:hover{
  cursor: pointer;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

